* {
  text-align: center;
  font-family: "Courier";
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
h1 {
  text-align: center;
  font-size: 8em;
}
body {
  background: url("http://wallpapercave.com/wp/xt21Bkn.gif");
  background-position: center;
  background-size: cover;
}

.row {
  box-sizing: border-box;
}

button {
  font-size:55px;
  width: 100px;
  height: 100px;
  text-align: center;
  background-color: black;
  color: white;
}
.newgame {
  font-size:40px;
  width: 250px;
  text-align: center;
  background-color: black;
  color: white;
}
.X {
  color: white;
}
.O {
  color: white;
}
